@model Wcf.Entities.Concrete.Product
@{
    ViewBag.Title = @Model.Name + " Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h3>@ViewBag.Title</h3>
    <div class="row">
        <div>
            <hr />
            <dl class="dl-horizontal">
                <dt>Product Name</dt>
                <dd>@Model.Name</dd>

                <dt>Product Price</dt>
               <dd>@Model.Price.ToString()</dd>

                <dt>Product Quantity</dt>
                <dd>@Model.Quantity.ToString()</dd>

                <dt>Created Date</dt>
                <dd>@Model.CreatedDate.ToShortDateString()</dd>
            </dl>
        </div>
    </div>
</div>
<p>
    <a href="~/Product/Edit/@Model.Id" class="btn btn-success btn-xs">Edit</a> |
    <a href="~/Product/Index" class="btn btn-primary btn-xs"> Back to List</a>
</p>
