@model IEnumerable<Wcf.Entities.Concrete.Product>
@{
    ViewBag.Title = "Product Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>@ViewBag.Title</h3>
<p>
    <a href="~/Product/Create" class="btn btn-primary btn-xs">+ Create New</a>
</p>
<hr />
<div class="container">
    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Category Name</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Created Date</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Category.Name</td>
                        <td>@item.Quantity.ToString()</td>
                        <td>@item.Price.ToString()</td>
                        <td>@item.CreatedDate.ToShortDateString()</td>
                        <td>
                            <a href="~/Product/Detail/@item.Id" class="btn btn-info btn-xs"><i class="glyphicon glyphicon-info-sign"></i> Detail</a>
                            <a href="~/Product/Edit/@item.Id" class="btn btn-success btn-xs"><i class="glyphicon glyphicon-pencil"></i> Edit</a>
                            <a href="~/Product/Delete/@item.Id" class="btn btn-danger btn-xs"><i class="glyphicon glyphicon-remove"></i> Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
